<body >
<div class="container  w-75 rounded shadow align-items-stretch"  >
  <br >
  <h1 style="text-align: center" >  Formulario Education </h1>
  <br>
    <div class="p-5"  >
    <form  class ="row g-3"   [formGroup]="formEducation"  >
      <div class="col-md-6"  >
        <label for="inputInstitucion"   class="form-label"  > Institucion  </label>
        <input  type="text"   class="form-control"  id ="inputInstitucion"  formControlName= "institucion"   required >
        <br>
         <div class="alert  alert-danger text-center p-2" *ngIf="datos['institucion'].errors?.required &&  datos['institucion' ].touched"> institucion requerida</div>
      </div>
      <div class="col-md-6"  >
        <label for="inputEspecialidad" class ="form-label">Especialidad  </label>
        <input type="text" class="form-control" id="inputEspecialidad"   formControlName="especialidad" required >
        <br>
        <div class="alert alert-danger text-center p-2" *ngIf="datos['especialidad'].errors?.required &&  datos['especialidad'].touched">  especialidad requerida</div>
      </div>
       <div class="col-md-12"   >
        <label for="inputFecha"   class="form-label"  >Fecha </label >
        <input   type="text"  class="form-control" id="inputFecha"    formControlName= "fecha"  required >
         <br>
         <div class="alert alert-danger text-center p-2" *ngIf="datos['fecha' ].errors?.required &&  datos['fecha'].touched">  fecha requerida  </div>
       </div>
      <div class="col-md-12"   >
        <label for="inputLogo"  class="form-label" >Img </label>
         <input  type="text"  class="form-control" id="inputLogo"   formControlName= "logo"  required>
        <br>
        <div class="alert alert-danger text-center p-2"   *ngIf="datos['logo' ].errors?.required &&  datos['logo' ].touched">  img requerida</div>
      </div>
       <div class="col-12 d-grid" >
        <button  class="btn btn-primary"   (click)="createEdu () "  [disabled]= "formEducation.invalid" > Crear Education  </button>
      </div>
    </form  >
  </div>
</div>
</body>
