<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
      <section class="container"  >
       <div     *ngFor="let  data  of datas">
         <mat-card  class  ="example-card">
           <mat-card-header>
             <mat-card-title > {{data.lenguaje  }} </mat-card-title>
            </mat-card-header>
             <img mat-card-image src = "https://drive.google.com/uc?export=download&id={{data.logo}}"   class=  "icon-angular">
           <mat-card-content>
              <label for="angular-"> {{data.porcentaje }} %</label>
             <mat-progress-bar id="angular-"  mode="determinate" value="{{data.porcentaje  }}"></mat-progress-bar>
           </mat-card-content>
         </mat-card >
       </div >
     </section>
  </mat-grid-tile>
</mat-grid-list>
