<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.514450134032!2d-87.0570014853191!3d20.689324004655607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e67f8584f5b3f%3A0x40d2f252d33d5784!2sC.%20Tulum%20481-401%2C%20La%20Guadalupana%2C%2077724%20Playa%20del%20Carmen%2C%20Q.R.!5e0!3m2!1ses-419!2smx!4v1654823072833!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </mat-grid-tile>
  <mat-grid-tile class= "fondo-contacto ">
    <section  class="container">
      <div>
        <img src="./assets/img/facebook.png">
        <p>@Urias Pérez</p>
      </div >
      <div>
        <img src="./assets/img/telegram.png">
        <p>@Urias Dev</p>
      </div>
      <div>
        <img src="./assets/img/whatsapp.png">
        <p> +52 984 277 6469</p>
      </div >
    </section>
  </mat-grid-tile>
</mat-grid-list>
